<div class="container">
  <div
    style="
      margin: 100px;
      background: linear-gradient(
        4500deg,
        rgb(255, 91, 119),
        rgb(255, 172, 17),
        transparent,
        rgb(255, 91, 119)
      );
      font-size: 14px;
      font-weight: bold;
    "
  >
    <h2 style="background-color: rgb(126, 248, 248); text-align: center">
      ToDo List App
    </h2>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div class="task">
        <div class="label">
          <label for="Task">Task</label>
          <input
            type="text"
            placeholder="Enter the task here..."
            [(ngModel)]="newtask"
          />
        </div>
        <button (click)="add_task()">Enter</button>
      </div>

      <br /><br />
      <div>
        <table
          [border]="40"
          text-align="center"
          style="
            text-align: center;
            border-radius: 4px;
            border-color: rgb(149, 255, 244);
            padding: 10px;
            cursor: pointer;
          "
        >
          <thead>
            <tr>
              <th>ID</th>
              <th>Tasks</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tasks">
              <td>{{ item.id }}</td>
              <td>{{ item.task }}</td>
              <td><button (click)="edit_task(item.id)">Edit</button></td>
              <td><button (click)="delete_task(item.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
